<div class="banner">
      <h1 class="mx-2"></h1>
</div>
<br>
<div class="contact jumbotron mt-5 my-5 mx-5 mb-4 text-center">
      <h1 class="text display-3 mt-4">Thanks for stopping by!</h1>
      <p class="lead mt-3">If you want to get in touch, or know more connect with me via <a class="link" href="https://github.com/natgrant"><i
                        class="fab fa-github"></i> GitHub</a>
      </p>
      <hr class="my-4 ">
      <p class="mb-5">For more information on the beautiful trails Wellington has to offer please visit the
            <a class="link" href="https://www.doc.govt.nz/parks-and-recreation">
                  DOC website
            </a>
            and get amongst it
      </p>
</div>