<div class="container text-center">
  <div class="row">
    <div id="content" class="col-lg-12">
      <h1 class="heading">urban wanderer</h1>
      <p class="lead">Take time out from city living and make the most of your day by exploring some of the best trails
        Wellington has to offer</p>
      <p class="button">
        <a href="/walks/" class="btn btn-lg btn-outline-secondary fill">Start Exploring</a>
      </p>
    </div>
  </div>
</div>