<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">urban wanderer</h1>
      <p class="lead">Take time out from city living and make the most of your day by exploring some of the best trails
        Wellington has to offer</p>
      <p class="lead">
        <a href="/walks/1" class="btn btn-lg btn-outline-secondary">Start Exploring</a>
      </p>
    </main>
  </div>
</body>