<h1 class="mx-2">Wellington walks</h1>
<div class="container-fluid mt-2">
  <div class="row align-items-center">
    <div class="col-md-4">
      {{#each walks}}
      <div class="card mb-2" style="width: 18rem;">
        <img src="{{image}}" class="card-img-top" alt="trail image">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">{{this.description}}</p>
          <a href="{{path}}" class="btn btn-primary">More info</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>