<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">{{title}}</h1>
      <p class="lead">{{blurb}}</p>
      <p class="lead">
        <a href="/walks/1" class="btn btn-lg btn-outline-secondary">Start Exploring</a>
      </p>
    </main>
  </div>
</body>