{{!-- TODO: add show data --}}

<div class="banner">
  <h1 class="mx-2">WELLINGTON WALKS</h1>
</div>

<h1></h1>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h1>
        {{walk.name}}
      </h1>

      <div class="blog-post">
        <h2 class="blog-post-title"></h2>

        <hr>



      </div>
    </div>

    <aside class="col-md-4">
      <div class="p-3 mb-3">
        <img class="img-thumbnail" src="{{walk.image}}" alt="walk">
      </div>
  </div>

</main>