body,
html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  background-color: #83aa99;
}

h1 {
  padding-top: 2rem;
  font-family: "Cabin Sketch";
  font-size: 3rem;
  color: #ebf8f4;
}

.banner {
  background-color: #343a40;
  padding-bottom: 2rem;
}

th {
  color: #ebf8f4;
}

a {
  color: #006080;
}

#footer {
  background: #343a40 !important;
  position: relative;
  height: 150px;
  padding-top: 20px;
}

#footer a {
  color: #ffffff;
  background-color: transparent;
  font-size: 2rem;
}

#footer ul.social li:hover a i {
  font-size: 3rem;
  margin-top: -10px;
  color: #e8b121;
}

.contact {
  background: url("/images/contactspage.jpg");
  background-size: cover;
  color: #ebf8f4;
}

.link {
  color: #b2e4df;
}

hr {
  border: 0;
  box-shadow: 0 0 10px 2px whitesmoke;
}
hr:after {
  /* Not really supposed to work, but does */
  content: "\00a0"; /* Prevent margin collapse */
}
